@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');


:root {
    --primary: #040c27;
    --secondary: #12c3e1;
    --light: #ffff;
    --dark: #010A35;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: var(--primary);
    scroll-behavior: smooth; 
    
}
html{
    scroll-padding-top: 6rem; /* height of sticky header */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    padding: .6rem 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
    background-color: var(--primary);
}


    .logo img {
        height: 5rem;
    }

    @media (max-width: 768px) {
        .logo img {
            height: 3rem;
        }
    }


.items {
    display: flex;
    gap: 20px;
    border: 2px solid var(--secondary);
    border-radius: 25px;
    padding: .5rem;
}
.items a {
    font-size: medium;
    text-decoration: none;
    color: var(--light);
    font-weight: 500;
    margin: 0 1rem;
}
.items a:hover,
.items a.active{
    color: var(--secondary);
}

.items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.profile{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--secondary);

}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--secondary);
}
.menu-toggle {
    display: none;
}


/* Mobile view */
@media (max-width: 768px) {
    .profile{
        display: none;
    }
    .items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        background-color: var(--primary);
        border: none;
        
    }

    .items a {
        text-align: center;
        padding: 10px;
        border-bottom: 1px dotted #575757;
        border-radius: 10px;
    }

    .hamburger {
        display: block;
    }

    .menu-toggle:checked + .hamburger + .items {
        display: flex;
    }
}

/* Section styling for demonstration */
section {
    margin-top: 5rem;
    padding: 60px 20px;
    height: 100vh;
    z-index: 10;
}

.home-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tagline {
    font-size: 2.5rem;
    color: var(--secondary);
  }  
  .info p{
    font-size: 1rem;
    font-style: italic;
    color: var(--light);
    padding: 1rem .5rem;
  }

  .play-icon{
    padding: .5rem; 
    font-weight: 600; 
    font-size: larger; 
    margin:1rem 1rem; 
    border: 1px solid blue; 
    color: aqua; 
    background-color: #040c27; 
    border-radius: 25px; 
    cursor: pointer;
    margin-bottom: 4rem;
  }
  .play-icon:hover,
  .play-icon:active{
    border: 2px solid blue;    
  }
  @media (max-width: 768px) {
    .home-section{
        display: flex;
        flex-wrap: wrap;
    }
    .tagline{
        font-size: 2rem;
    }
    .description {
        display: none;
    }

}